@font-face {
  font-family: "siteFont";
  src: url("/static/siteFont-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
 }

@font-face {
  font-family: "siteFontBold";
  src: url("/static/siteFont-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

body {
  /* font-family: "siteFont", Monaco, Helvetica, sans-serif; */
  font-family: Monaco, Helvetica, sans-serif;
}
h1 {
  font-family: "siteFontBold";
  text-align: center;
}
.content {
  margin: auto;
  padding: 50px 30px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 30px;
}
.content:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.4);
}
button {
  border-radius: 12px;
  background-color: #eee;
  color: black;
  border: none;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
}
button:hover {
  background-color: #eee;
  color: gray;
}
button img{
  filter: invert(50%);
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  pointer-events: none;
}
button:hover img{
  filter: invert(70%);
}
button:active {
  box-shadow: inset 0 4px 8px 0 rgba(0,0,0,0.2);
  transform: translateY(2px);
}
.disabled {
  opacity: 0.6;
  cursor: not-allowed;
}
input[type=submit] {
  border-radius: 12px;
  background-color: #eee;
  color: black;
  border: none;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
}
input[type=submit]:hover {
  background-color: #eee;
  color: gray;
}
input[type=file] {
  border-radius: 12px;
  background-color: #eee;
  color: black;
  border: none;
  padding: 15px 5px;
  text-align: left;
  text-decoration: none;
  width: 290px;
}
input[type=text] {
  border-radius: 12px;
  padding: 15px 5px;
  width: 259px;
}
input[type=password] {
  border-radius: 12px;
  padding: 15px 5px;
  width: 259px;
}
input[type=number] {
  border-radius: 12px;
  padding: 2px 5px 2px 5px;
}
textarea {
  border-radius: 12px;
  padding: 15px 5px;
}
code {
   background-color: #eee;
   line-height: 10px;
   padding: 3px;
   margin: 0;
   line-height: 0;
}
hr {
   margin: 30px 0px;
   border: 2px dotted #eee;
   border-radius: 5px;
}
.info {
  box-shadow: inset 0 4px 8px 0 rgba(0,0,0,0.2);
  border-radius: 15px;
  padding: 20px;
}
.info:hover {
  box-shadow: inset 0 8px 16px 0 rgba(0,0,0,0.4)
}
.info p {
  padding: 0px;
  margin: 0px;
}
.info h3 {
  padding: 0px;
  margin: 0px;
  text-align: center;
}

 /* Add a black background color to the top navigation */
.topnav {
    background: linear-gradient(45deg, #eee, #ffffff);
    overflow: hidden;
    border-radius: 15px;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    border-bottom: 3px solid transparent;
}

.topnav a:hover {
    border-bottom: 3px solid red;
}

.topnav a.active {
    border-bottom: 3px solid red;
}
.grow-wrap {
  /* easy way to plop the elements on top of each other and have them both sized based on the tallest one's height */
  display: grid;
}
.grow-wrap::after {
  /* Note the weird space! Needed to preventy jumpy behavior */
  content: attr(data-replicated-value) " ";
  /* This is how textarea text behaves */
  white-space: pre-wrap;
  /* Hidden from view, clicks, and screen readers */
  visibility: hidden;
}
.grow-wrap > textarea {
  /* You could leave this, but after a user resizes, then it ruins the auto sizing */
  resize: none;
  /* Firefox shows scrollbar on growth, you can hide like this. */
  overflow: hidden;
}
.grow-wrap > textarea,
.grow-wrap::after {
  /* Identical styling required!! */
  border: 1px solid black;
  padding: 0.5rem;
  font: inherit;
  /* Place on top of each other */
  grid-area: 1 / 1 / 2 / 2;
}
 /* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
}

/* Modal Content Box */
.modal-content {
    background-color: #fefefe;
    margin: 15px 15px;
    width: 44%; /* Could be more or less, depending on screen size */
    border-radius: 15px;
    float: right;
}

/* Modal login Container */
.login-container {
  display: inline;
  padding: 15px 15px 15px 15px
 }
/* Add Zoom Animation */
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)}
    to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
    from {transform: scale(0)}
    to {transform: scale(1)}
}

/* ACCORDION SPOILERS */
input[type=checkbox] {
  position: absolute;
  opacity: 0;
  z-index: -1;
}
 .row {
  display: flex;
}
 .row .col {
  flex: 1;
}
 .row .col:last-child {
  margin-left: 1em;
}
/* Accordion styles */
 .tabs {
  border-radius: 8px;
  overflow: hidden;
  transition: 0.3s;
}
 .tab {
  width: 100%;
  box-shadow: inset 0 4px 8px 0 rgba(0,0,0,0.2);
  overflow: hidden;
}
 .tab-label {
 /* Icon */
  display: flex;
  justify-content: space-between;
  padding: 1em;
  background: #eee;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  font-weight: bold;
  cursor: pointer;
}
 .tab:hover {
  box-shadow: inset 0 4px 8px 0 rgba(0,0,0,0.4);
}
 .tab-label:hover {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.4);
}
 .tab-label::after {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.4);
  width: 1em;
  height: 1em;
  text-align: center;
  transition: all 0.35s;
}
 .tab-content {
  max-height: 0;
  padding: 0 1em;
  transition: all 0.35s;
}
 .tab-close {
  display: flex;
  justify-content: flex-end;
  padding: 1em;
  font-size: 0.75em;
  cursor: pointer;
}
 .tab-close:hover {
  background: #1a252f;
}
 input:checked + .tab-label {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.4);
}
 input:checked + .tab-label::after {
  transform: rotate(90deg);
}
 input:checked ~ .tab-content {
  max-height: 1000vh;
  padding: 1em;
}

/* TABLE */
table {
  border-collapse: collapse;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0,0,0,0.2);
}
 th, td {
  padding: 5px 10px 5px 10px;
  background-color: rgba(255, 255, 255, 0.2);
}
 th {
  text-align: left;
}
 thead th {
  background-color: #eee;
}
 tbody tr:hover {
  background-color: rgba(238, 238, 238, 0.5);
}
 tbody td {
  position: relative;
}
 #monTable tr td {
  padding: 5px;
}
 #monTable tr th {
  padding: 5px;
}
 tbody td:hover:before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: -9999px;
  bottom: -9999px;
  background-color: rgba(238, 238, 238, 0.5);
  z-index: -1;
}
