<h3>Справка по заказу выписок</h3>
Модуль позволяет закакзать простые / исторические выписки. Результатом будет .zip архив со сводным .xls файлом и .pdf выписками.

<ul>
  <li>При наведении на статус заказа появляется дополнительная информация.</li>
  <li>Если на стороне РОСРЕЕСТРа ошибка / статус processing аномильно долгий - можно перезаказать все такие выписки кнопкой <img width="15" src="static/icon_reorder.svg" />.</li>
  <li>Если заказ готов - слева от имени проекта появится <b>✔</b>, а также придет уведомление в телеграм-канал.</li>
  <li>Скачка заказа реализована кнопкой <img width="15" src="static/icon_download.svg" />.</li>
  <li>Если вы где-то в заказе ошиблись или хотите дозаказать в существующий проект - создайте новый проект <b>с таким же именем</b>, но уже с верными данными.</li>
  <li>Имя проекта - это название конечного архива .zip. Проекты с одинаковым именем используют ту же папку.</li>
  <li>Срок хранения файлов - 10 дней.</li>
</ul>
