<div style="display: flex;">
    <div style="overflow: hidden; width: 100%; height: 909px; background: url(/static/logo.svg) no-repeat right; background-size: 4500px;"></div>
    
    <div class="content" align="right" style="width: 30%; margin: auto; margin-right: 200px;">
        <div class="info">
            <div class="other" style="text-align: center;">
                <div style="margin: 20px;">
                    <h2>Авторизация</h2>
                    <label for="username" style="margin-right:12px;">Логин</label>
                    <input id="login_uname" name="username" type="text" value="" placeholder="agent007">
                </div>
                <div style="margin: 20px;">
                    <label for="password">Пароль</label>
                    <input id="login_psw" name="password" type="password" value="" placeholder="********">
                    <span id="wrong_credentials"</span>
                </div>
            </div>

            <div style="text-align: center;">
                <button onclick="loginUser()">Войти</button>
            </div>

        </div>
        <span>
            Еще не зарегистрированы?
            <button style="height: 50px; float: right;" onclick="document.getElementById('id01').style.display='block'">Зарегистрироваться</button>
        </span>
    </div>
</div>
