<!-- Modal registration block -->
<div id="id01" class="modal">
  <div class="modal-content animate info" style="width: 350px; height: 200px;">
    <div class="login-container">
        <div>
            <label for="username"><b>Логин</b></label>
            <input id="reg_uname" style="margin-left:12px;" type="text" placeholder="Придумайте логин" name="username" required>
        </div>
        <div>
            <label for="password"><b>Пароль</b></label>
            <input id="reg_psw" type="password" placeholder="Придумайте пароль" name="password" required>
        </div>
      <span id="reg_wrong_credentials"</span>
      <div style="text-align: center;">
        <button onclick="registerUser()">Зарегистрироваться</button>
      </div>
    </div>
  </div>
</div>
