<h3>Справка по процессу мониторинга</h3>
<ul>
  <li>Модуль позволяет отслеживать изменения по объектам по 2 параметрам: собственник и обременения</li>
  <li>Если запросы на мониторинг направляются до 10 числа каждого месяца, то они до конца месяца в порядке очереди обрабатываются подрядчиком</li>
  <li>Запросы после 10 числа могут не попасть в выгрузку мониторинга текущего месяца и могут обрабатываться позже</li>
  <li>Если конечная дата не устанавливается, объект постоянно попадает в мониторинг</li>
</ul>
<p><i>это информация от подрядчика</i></p>
