<div>
  <h1>Выписки ЕГРН</h1>
  <div class="content" style="width: 600px;">
    <div class="tabs">
      <div class="tab">
        <input type="checkbox" id="chck1">
        <label class="tab-label" for="chck1" style="background: linear-gradient(45deg, #eee, #ffffff);">добавить</label>
        <div class="tab-content">
          <div class="info">
            <h2>Заказ выписок</h2>
            <div style="margin-bottom: 20px;">
              <label>Проект:</label>
              <input type="text" id="prj_name" placeholder="опционально (если не задать, присвоится автоматически)" style="height: 10px; width: 448px; margin: 10px 0px 10px 0px;">
            </div>
            <div style="display: flex;">
              <div style="text-align: center;">
                <div>
                  <label>Простые выписки:</label>
                </div>
                <textarea type="text" id="query_s" placeholder="кадастровые номера через <enter>" style="resize: none; height: 100px; width: 245px; margin: 5px 5px 10px 0px;"></textarea>
              </div>
              <div style="text-align: center;">
                <div>
                  <label>Исторические выписки:</label>
                </div>
                <textarea type="text" id="query_h" placeholder="кадастровые номера через <enter>" style="resize: none; height: 100px; width: 245px; margin: 5px 0px 10px 0px;"></textarea>
              </div>
            </div>
            <button onclick="rrQuery()">отправить запрос</button>
            <span style="margin-left: 10px;">доступно {{ balance }} выписок</span>
          </div>
          <hr>
          <div class="info">
            <h2>Постановка на мониторинг</h2>
            <div style="display: flex;">
              <textarea type="text" id="monitoring_cadastral" placeholder="кадастровые номера через <enter>" style="resize: none; height: 100px; width: 490px; margin: 5px 5px 10px 0px;"></textarea>
              <div>
                <input type="text" id="prj_name_mon" maxlength="20" placeholder="проект - опционально" style="height: 10px; width: 245px; margin: 6px 0px 5px 0px;">
                <input style="width: 245px; height: 35px" type="number" id="monitoring_duration" name="duration" min="1" max="1000" placeholder="продолжетильность, мес."/>
                <button onclick="document.getElementById('id01').style.display='block'" style="font-size: 20px; padding: 4px 12px 4px 12px; margin-top: 5px;">?</button>
              </div>
            </div>
            <button onclick="rrMonQuery()" style="height: 50px; margin-right: 10px; padding: 5px 32px;">отправить запрос</button>
            <span>доступно {{ balance_mon }} проверок</span>
            <div id="id01" class="modal">
              <div class="modal-content animate info" style="width: 400px; height: 300px;">
                {% include mon_hint_page %}
              </div>
            </div>
          </div>
        </div>
      </div>

      <div hidden class="tab">
        <input type="checkbox" id="chck2">
        <label class="tab-label" for="chck2" style="background: linear-gradient(45deg, #eee, #ffffff);">Поиск недвижимости</label>
        <div class="tab-content">
          <div class="info">
            <h2>Поиск по адресу или кадастровому номеру</h2>
            <p>Например:</p>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;54:35:061735:*</p>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;г Иваново, Конспиративный пер, д 14</p>
            <input id="rrSearchQuery" type="text" name="text" style="width: 510px; margin: 10px 0px 10px 0px;">
            <button onclick="rrSearch()">поиск</button>
          </div>
          <hr>
          <div id="rr_search_area" hidden class="info">
            <h2>Результат</h2>
            <textarea readonly name="text" id="rr_search_res" style="width: 510px; overflow:hidden; resize: none; height: 1px;"></textarea>
          </div>
        </div>
      </div>

      <div class="tab">
        <input type="checkbox" id="monitoring">
        <label class="tab-label" for="monitoring" style="display: block; text-align: center; background: #eee;">мониторинг</label>
        <div class="tab-content">
          <div class="info">
            <h2>Мониторинг</h2>
            <table id="monTable" style="margin: 15px 0px 0px 5px; font-size: 10px; width:520px;table-layout: fixed;">
              <colgroup>
                <col width="50px">
                <col width="60px">
                <col width="30px">
                <col width="30px">
                <col width="20px">
                <col width="40px">
                <col width="10px">
              </colgroup>
              <thead>
                <tr>
                  <th>Кадастровый №</th>
                  <th>Проект</th>
                  <th>Дата c</th>
                  <th>Дата по</th>
                  <th>Интер- вал, ч</th>
                  <th>Статус</th>
                  <th></th>
                </tr>
              <thead>
              <tbody>
                {% for monitoring in monitorings %}
                <tr>
                  <td>{{ monitoring.cadastral }}</td>
                  <td>{{ monitoring.tag }}</td>
                  <td>{{ monitoring.start_at }}</td>
                  <td>{{ monitoring.end_at }}</td>
                  <td>{{ monitoring.interval }}</td>
                  <td><span title="{{ monitoring.status_txt }}">{{ monitoring.status }}</span></td>
                  <td>
                    <button onclick="rrCancelMon('{{ monitoring.cadastral }}')" style="font-size: 8px; padding: 4px;">❌</button>
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>


      {% for query in queries %}
      <div class="tab">
        <input type="checkbox" id="{{query.id}}">
        <label class="tab-label" for="{{query.id}}" style="display: block; text-align: right; background: linear-gradient(45deg, #ffffff, #eee);">
          {% if query.is_ready %}
            <b>✔</b>
          {% endif %}
          {{ query.name }}
        </label>
        <div class="tab-content">
          <button title="Скачать" style="padding: 5px;" onClick="rrDownload({{ query.id }},'{{ query.name }}')">
            <img width="30" src="static/icon_download.svg" />
          </button>
          <button title="Перезаказать" style="padding: 5px; margin-left: 480px;" onClick="rrReorder({{ query.id }})" />
            <img width="30" src="static/icon_reorder.svg" />
          </button>
          <button hidden title="Обновить в ручную" style="padding: 5px;" onClick="rrRefresh({{ query.id }})">
            <img width="30" src="static/icon_refresh.svg" />
          </button>
          <table style="margin-top: 15px;">
            <thead>
              <tr>
                <th>Кадастр</th>
                <th>Тип</th>
                <th>Дата</th>
                <th>Статус</th>
              </tr>
            <thead>
            <tbody>
              {% for order in query.orders %}
              <tr>
                <td>{{ order.cadastral }}</td>
                <td>{{ order.cadastral_type }}</td>
                <td>{{ order.created_at }}</td>
                <td><span title="{{ order.status_txt }}">{{ order.status }}</span></td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
