<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
    <title>{{ SITE_NAME }}</title>
    <link href="static/styles.css" rel="stylesheet">
    <link href="static/favicon.svg" rel="shortcut icon" type="image/svg"/>
</head>
{% if top_panel is not none %}
    {% include top_panel if top_panel %}
{% else %}
{% endif %}
<body>

{% include page %}

{% if modal %}
    {% include modal if modal %}
{% else %}
{% endif %}

<script src="static/scripts.js"></script>
</body>
</html>
