<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ SITE_NAME }}</title>
    <link href="{{ url_for('static', path='/styles.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', path='/favicon.svg') }}" rel="shortcut icon" type="image/svg"/>
</head>
{% if top_panel is not none %}
    {% include top_panel if top_panel %}
{% else %}
{% endif %}
<body>

{% include page %}

{% if modal %}
    {% include modal if modal %}
{% else %}
{% endif %}

<script src="{{ url_for('static', path='/scripts.js') }}"></script>
</body>
</html>
