<div class="topnav">
  <img href="index.html" style="float: left; margin-left: 15px; margin-right: 15px;" width="50" src="{{ url_for('static', path='logo.svg') }}" />
  <a class="active" href="/rr">Росреестр</a>
  <a href="/fr">Федресурс</a>
  <a href="/flight">Перелеты</a>
  <a href="/london">Недвижимость Лондона</a>
  <a href="{{ TG_CHANNEL }}">TG-канал</a>
  <a href="{{ TG_BOT }}">TG-bot</a>
  <!-- <button style="float: right;" onclick="document.getElementById('id01').style.display='block'">Войти</button> -->
</div>
